*{
    padding: 0%; 
    margin:0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    width:100%;
    height:100%;
}

#main{
 height:100%;
 width:100%;
 background-color: white;
}

#navbar{
    height:100px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}

#navpart1{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 7px;
}

h3{
    border-radius: 10px;
    border: 1px solid black;
    padding:5px;
}

#men{
    border-radius: 10px;
    border: 1px solid black;
    padding:5px;
}

h1{
    font-weight:500;
    font-size:20px;
    text-transform: uppercase;
}

button{
    padding: 7px 12px;
    border:2px solid black;
    border-radius: 50px;
    background-color: white;
}

#btn{
    background-color: orangered;
    color:white;
    border: 2px solid orangered;
}

#ad{
    display:flex;
    align-items: center;
    justify-content:center;
    position:absolute;
    top:50%;
    bottom:50%;
    transform:translate(40%,40%);
    font-size: 100px;
    text-align: center;
}

img{
    height:300px;
    width:200px;
    background-position: cover;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-100px,-100px);
    border-radius:15px ;
}

#img1{
    transform:translate(-100px,-100px) rotate(-40deg);
}

#img2{
    transform:translate(-100px,-100px) rotate(-30deg);
}

#img3{
    transform:translate(-100px,-100px) rotate(-20deg);
}

#img4{
    transform:translate(-100px,-100px) rotate(-10deg);
}

#sml{
    position: absolute;
    bottom: 5%;
    left:5%;
    font-size: 15px;
    color:gray;
}

#sh{
    position: absolute;
    bottom: 5%;
    right: 5%;
    color:gray;
    align-items: center;
}

